build

# Строкой выше относительно ошибки написать комментарий:
# /* eslint-disable-next-line название-правила */
# Отключает указанное правило для всего файла:
# /* eslint-disable название-правила */