.Main {
    font-family: "RobotoFlex";
    font-weight: 500;
    text-align: center;
    flex: 1 1 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;

    --BackgroundColor1: #ffffff;
    --BackgroundColor2: #dadada;
    --BorderColor: #242424;
    --AccentColor1: #ffd1dc;
    --AccentColor2: #99ff99;
    --AccentColor3: #afdafc;
    --TextColor: #454545;
    --SupportColor1: #060606;
    --SupportColor2: #0c293d;
    --SupportColor3: #1a5984;
    --SecondaryColor: #2b94ca;
    --SupportColor4: #2bc4c8;
    --maxWidth: 1200px;
    --HeaderHeigth: 80px;
    --FooterHeigth: 80px;
}

@font-face {
    font-family: "MyFont";
    src: url("./fonts/Radiotechnika.otf");
}

@font-face {
    font-family: "RobotoFlex-Regular";
    src: url("./fonts/RobotoFlex-Regular.ttf");
}

@font-face {
    font-family: "RobotoFlex";
    src: url("./fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}
