.Main {
    font-family: 'RobotoFlex';
    font-weight: 500;
    text-align: center;
    flex: 1 1 100%;
    height: 100vh;


    .Footer {
        color: var(--BackgroundColor2);
        background-color: var(--SupportColor2);
        height: 120px;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(32px);
    }

    .Header {
        max-height: 120px;  
        color: var(--BackgroundColor2);
        background-color: var(--SupportColor2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 32px;

        .Nav {
            display: flex;
            flex-direction: row;
            position: relative;
            .Logo {
                height: 150px;
                width: 150px;
            }
            .Link {
                margin-left: 10vw;
                width: 150px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-between;
                // height: 80px;
                overflow: hidden;
                .Icon {
                    height: 80px;
                    width: 80px;
                }
                .Text {
                    height: 40px;
                }
            }
        }
    }

    .Page {
        min-height: calc(100% - 240px);
        // height: 50px;
        color: var(--SupportColor2);
        background-color: var(--BackgroundColor2);
    }

    --BackgroundColor1: #FFFFFF;
    --BackgroundColor2: #DADADA;
    --BorderColor: #242424;
    --AccentColor1: #FFD1DC;
    --AccentColor2: #99FF99;
    --AccentColor3: #AFDAFC;
    --TextColor: #454545;
    --SupportColor1: #060606;
    --SupportColor2: #0C293D;
    --SupportColor3: #1A5984;
    --SecondaryColor: #2B94CA;
    --SupportColor4: #2BC4C8;
}

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Radiotechnika.otf');
}

@font-face {
    font-family: 'RobotoFlex-Regular';
    src: url('./fonts/RobotoFlex-Regular.ttf');
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('./fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
}