.Main {
    width: 100%;
    height: 100%;
    padding: 88px 60px;
    .Flesh {
        color: var(--SupportColor2);
        border: 2px solid var(--BackgroundColor2);
        width: 100%;
        height: max-content;
        display: flex;
        padding: 30px;
        .PartImg {
            font-size: 32px;
            font-weight: 500;
            margin-right: 30px;
            img {
                width: 360px;
                aspect-ratio: 1/1;
            }
            div {
                margin-top: 30px;
            }
        }
        .PartDescription {
            font-size: 16px;
            width: inherit;
            .PlayNumAndTime {
                margin: 20px 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            .Games {
                margin: 20px 0;
                display: flex;
                .Game {
                    background-color: var(--AccentColor3);
                    border-radius: 10px;
                    border: 1px solid var(--SecondaryColor);
                    padding: 2px 5px;
                    margin: 2px;
                }
            }
            .Description {
                margin: 20px 0;
                width: 100%;
                text-align: justify;
            }
        }
    }
}
