.Main {
    width: 100%;
    height: 100%;
    padding: 88px 60px;
    .Flesh {
        color: var(--SupportColor2);
        border: 2px solid var(--BackgroundColor2);
        width: 100%;
        height: max-content;
        display: flex;
        padding: 30px;
        input,
        textarea,
        select {
            resize: none;
            background-color: rgb(255, 210, 210);
            text-align: center;
        }
        .PartImg {
            font-size: 32px;
            font-weight: 500;
            margin-right: 30px;
            img {
                width: 360px;
                aspect-ratio: 1/1;
            }
            .Name {
                margin-top: 30px;
                width: 100%;
            }
            .InputImg {
                display: none;
            }
            label {
                font-size: 24px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .PartDescription {
            font-size: 16px;
            width: inherit;
            display: flex;
            flex-direction: column;
            & > * {
                margin-top: 20px;
            }
            .PlayNumAndTime {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            .Description {
                width: 100%;
                text-align: justify;
                flex-grow: 1;
            }
            .Games {
                display: flex;
                align-items: center;
                position: relative;
                flex-wrap: wrap;
                .OneGame {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .Game {
                        background-color: var(--AccentColor3);
                        border-radius: 10px;
                        border: 1px solid var(--SecondaryColor);
                        padding: 2px 5px;
                        margin: 2px;
                    }
                }
                .AddGame {
                    margin-left: 3px;
                    text-align: center;
                    border-radius: 50%;
                    width: 30px;
                    aspect-ratio: 1/1;
                    background-color: var(--SupportColor4);
                    color: var(--SupportColor1);
                    border: 1px solid var(--SupportColor1);
                }
                .AddGameList {
                    position: absolute;
                    top: 120%;
                    max-height: 200px;
                    min-height: 20px;
                    min-width: 100px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid var(--SupportColor1);
                    overflow-y: scroll;
                    background-color: var(--SupportColor4);
                    button {
                        padding: 5px 10px;
                        &:hover {
                            background-color: var(--SecondaryColor);
                        }
                    }
                }
            }
        }
    }
}
