.Main {
    min-height: 100%;
    width: 100%;

    .Flesh {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 80px 60px;

        .ProfileFlesh {
            width: 100%;
            border: 2px solid var(--BackgroundColor2);
            display: block;
            display: flex;
            justify-content: space-between;
            padding: 30px;

            .Part2 {
                width: inherit;
                margin-left: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .Buttons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                .PlaysContainer {
                    width: 100%;
                    padding: 10px;
                    .Plays {
                        padding: 10px 50px;
                        width: 100%;

                        .TwoPlays {
                            display: flex;
                            width: 100%;

                            .Play {
                                font-size: 22px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 40px;
                                width: 50%;
                                border: 1px solid var(--BackgroundColor2);
                            }
                            .Disactive {
                                background-color: var(--BackgroundColor2);
                            }
                        }
                    }
                }

                .Label {
                    width: 100%;
                    text-align: start;
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .InputContainer {
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    width: 100%;
                    margin-bottom: 20px;
                    .InputBlock {
                        margin-right: 10px;
                        .Input {
                            display: block;
                            border: 1px solid var(--SupportColor2);
                            border-radius: 10px;
                            padding: 4px;
                            text-align: center;
                            width: 250px;
                        }

                        .AddImg {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            height: 28px;
                            width: 250px;
                            background-color: var(--BackgroundColor2);
                            border: 1px solid var(--SupportColor2);
                            border-radius: 10px;
                            overflow: hidden;
                        }

                        .DN {
                            display: none;
                        }
                    }
                }
            }

            .Part {
                .Image {
                    width: 360px;
                    height: 360px;
                    background-color: var(--SupportColor2);

                    img {
                        width: 360px;
                        height: 360px;
                        background-color: var(--SupportColor2);
                    }
                }

                .Name {
                    margin-top: 10px;
                    font-size: 32px;
                }

                .UnderImage {
                    margin: 10px 0;
                    font-size: 24px;
                    display: flex;
                    justify-content: space-between;

                    .Role {
                        border: 2px solid transparent;
                        width: min-content;
                        padding: 2px;
                        border-radius: 10px;
                    }

                    .Roles {
                        display: flex;
                        flex-grow: 1;
                        justify-content: flex-start;

                        div {
                            margin-right: 10px;
                            border: 2px solid black;
                            width: min-content;
                            padding: 2px;
                            border-radius: 10px;
                        }

                        .Gamer {
                            background-color: gainsboro;
                        }

                        .Master {
                            background-color: pink;
                        }

                        .Admin {
                            background-color: yellow;
                        }
                    }
                }

                .MailVeryfity {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0;
                }
            }
        }
    }
}
