.Main {
    min-height: 100%;
    width: 100%;

    .Flesh {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 80px 60px;

        .ProfileFlesh {
            width: 100%;
            border: 2px solid var(--BackgroundColor2);
            display: block;
            justify-content: space-between;
            display: flex;
            padding: 30px;

            .Part {
                .Image {
                    width: 360px;
                    height: 360px;
                    background-color: var(--SupportColor2);

                    img {
                        width: 360px;
                        height: 360px;
                        background-color: var(--SupportColor2);
                    }
                }

                .Name {
                    margin-top: 10px;
                    font-size: 32px;
                }

                .Button {
                    background-color: var(--SupportColor4);
                    color: var(--SupportColor1);
                    padding: 5px;
                    border-radius: 50px;
                    border: 1px solid var(--SupportColor1);
                }
                .Roles {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}