.Main {
    width: 100%;
    align-items: center;
    font-size: 20px;
    height: 80px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "img name start end place master";

    img {
        padding: 5px;
        height: 80px;
        aspect-ratio: 1/1;
        grid-area: img;
    }
    .Name {
        grid-area: name;
    }
    .Start {
        grid-area: start; 
    }
    .End {
        grid-area: end;
    }
    .Place {
        grid-area: place;
    }
    .Mater {
        grid-area: master;
    }
}
.Disactive {
    background-color: var(--BackgroundColor2);
}

.DisplayNone {
    display: none;
}
