.Main {
    width: 360px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BackgroundColor2);
    border-radius: 10px;
    border: 2px solid var(--BorderColor);
}
