.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    .Title {
    }
    select {
        background-color: var(--BackgroundColor1);
        border: 1px solid var(--BackgroundColor2);
        height: 32px;
        margin-left: 10px;
        text-align: center;
    }
}
